<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Restaurant ChatBot</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div id="chat-container">
    <div id="chat-box"></div>
    <input id="user-input" type="text" placeholder="Type option...">
    <button id="send-btn">Send</button>
  </div>
  <script src="/js/chat.js"></script>
</body>
</html>
